<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Generic Error Page</title>
</head>
<body>
<h2>Oops, something went wrong.</h2>

<p>We apologize but a failure has occurred in the application. </p>

<p>Please send the following information below the the administrator of the system: <br />
<ol>
    <li>The action you were taking when the error occurred.</li>
    <li>The error details below (message and stack trace)</li>
</ol>

</p>

</body>
</html>